h1 {
    font-size: 40px;
    text-align: center;
}

form {
    padding-left: 20px;
}

button {
    margin: 10px 0;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid black;
}